@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--black-color);
  display: flex;
  color: var(--white-color);
  overflow: hidden;
  font-family: "Dosis", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  height: auto;
  max-width: 100%;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

:root {
  --black-color: #232323;
  --white-color: #fbf8f3;
  --green-primary: #274547;
  --green-secondary: #00c897;
}

.navbar {
  display: inline-flex;
  height: 100vh;
  padding: 30px 10px 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: #232323;
  box-shadow: 5px 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  justify-content: space-between;
  width: 80px;
  z-index: 1;
}

.navbar div {
  text-align: center;
  width: 100%;
}

.navbar p {
  font-size: 0.88rem;
}

nav .top-nav,
.button-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main {
  padding: 30px;
}

main div {
  width: 1200px;
  height: 1200px;
  position: fixed; /* Fijo para que se mantenga en la posición relativa al viewport */
  top: -300px; /* Ajusta según sea necesario para colocar el div correctamente */
  right: -300px; /* Ajusta según sea necesario para colocar el div correctamente */
  transform: rotate(22.462deg);
  background: #274547;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  z-index: -1; /* Asegura que esté detrás de todo */
}
